/* --------------------------------------------------------------------------------------
+
+ Queries (min-width: 768px)
+
-------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------
+
+ VARIABLES
+
-------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------
+
+ MIXINS
+
-------------------------------------------------------------------------------------- */
/* LINE-HIGH */
/* BOX SIZING */
/* HIDE TEXT*/
/* SPRITES icons */

@media (min-width: 768px) {
    h1 {
        font-size: 90px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 24px;
    }
    header nav ul {
        display: block;
    }
    .content .subheader {
        padding-top: 190px;
        min-height: 600px;
    }
    .content .subheader span {
        background: url('../images/line2.png') no-repeat 100% 50%;
    }
    .content .subheader span h4 {
        background: url('../images/line2.png') no-repeat 0 50%;
        padding: 0 115px;
    }
    .content .subheader .down {
        margin-top: 175px;
        margin-bottom: 50px;
    }
    .container {
        width: 768px;
        padding: 0 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .content .subheader h1 {
        margin-top: 90px;
        font-size: 70px;
        padding: 0 30px 0;
        font-weight: bold;
    }
    section {
        padding: 80px 0;
    }
    header {
        overflow: hidden;
        height: 96px;
    }
    .ie8 header {
        border-bottom: 1px solid #e3e7ec;
    }
    header .logo {
        top: 20px;
    }
    header .logo img {
        width: 200px;
    }
    header nav {
        position: static;
        right: auto;
        top: auto;
        height: 96px;
        line-height: 96px;
        width: auto;
        float: right;
        background: none;
        cursor: normal;
    }
    header nav ul {
        position: static;
        top: auto;
        right: auto;
        width: auto;
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
        visibility: visible;
    }
    .ie7 header nav ul,
    .ie8 header nav ul {
        display: block;
    }
    header nav ul li {
        height: 96px;
        line-height: 96px;
        width: auto;
        border-top: none;
        float: left;
        margin-left: 30px;
    }
    header nav ul li:first-child {
        margin-left: 0;
    }
    .ie8 header nav ul li:first-child {
        border-top: none;
    }
    header nav ul li:first-child a {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    header nav ul li a {
        background-color: rgba(255, 255, 255, 0);
    }
    header nav ul li a:hover,
    header nav ul li a.active {
        color: #FFC05A;
    }
    #teknik ul {
        font-size: 0;
    }
    #teknik li {
        font-size: 16px;
        display: inline-block;
        vertical-align: top;
        width: 304px;
        border: none;
        padding: 40px 0 40px 40px;
        border-top: 2px solid #e3e7ec;
        border-left: 2px solid #e3e7ec;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    #teknik li:first-child,
    #teknik li:first-child + li + li,
    #teknik li:first-child + li + li + li + li,
    #teknik li:first-child + li + li + li + li + li + li {
        padding-right: 39px;
        padding-left: 0;
        border-left: none;
    }
    #teknik li:first-child,
    #teknik li:first-child + li {
        border-top: none;
        padding-top: 0;
    }
    #teknik li:last-child {
        padding-bottom: 0;
    }
    #teknik li + li {
        margin-top: 0;
    }
    #team {
        padding-bottom: 40px;
    }
    #clients .container {
        padding: 0;
    }
    .bx-wrapper {
        width: 800px;
    }
    .bx-wrapper .bx-viewport {
        padding-bottom: 40px;
    }
    .bx-wrapper .bx-viewport .slide {
        vertical-align: middle;
    }
    .bx-wrapper .bx-viewport .slide a {
        max-width: 100%;
    }
    #clients .bx-wrapper .bx-controls-direction {
        top: -40px;
    }
    #clients .bx-wrapper .bx-controls-direction a {
        top: 45px;
    }
    #partners img {
        width: 300px;
        opacity: 0.5;
        position: relative;
        overflow: hidden;
    }
    #contact #map {
        margin-top: -80px;
    }
    #contact .contact_info {
        width: 460px;
        margin-left: -230px;
        top: -220px;
    }
    #contact .contact_info a {
        color: black;
    }
    footer {
        padding-bottom: 33px;
    }
    footer .left {
        float: left;
        text-align: left;
    }
    footer .right {
        float: right;
    }
    footer small {
        padding-top: 5px;
        margin-bottom: 0;
    }
    footer small i {
        display: inline;
    }
}

@media (min-width: 960px) {
    .container {
        width: 960px;
        padding: 0;
    }
    #teknik li {
        width: 479px;
        text-align: left;
    }
    #teknik li span {
        float: left;
        margin-right: 40px;
        margin-bottom: 10px;
    }
    #teknik li p {
        clear: none;
    }
    footer {
        padding: 50px 0;
    }
    footer .container small {
        display: inline-block;
        margin-top: 0;
    }
    footer .container .left {
        padding-top: 10px;
    }
    footer .container .left > a {
        margin-right: 30px;
    }
}

@media (min-width: 1500px) {
    header .container {
        width: 1500px;
    }
    .textbox {
        margin: 2%;
        width: 45%;
        float: left;
        text-align: justify;
    }
    .textbox h2 {
        text-align: center;
    }
    .employer {
        float: left;
    }
    .partner {
        float: left;
        padding-right: 25px;
    }