/* --------------------------------------------------------------------------------------
+
+ BASIC STYLES
+
-------------------------------------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
}
/* --------------------------------------------------------------------------------------
+
+ VARIABLES
+
-------------------------------------------------------------------------------------- */

html.ie8 {
    color: red !important;
}

body {
    color: #67727e;
    font-family: "PTsans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    font-family: "PTsans", sans-serif;
    color: white;
    margin-bottom: 20px;
    font-weight: 300;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.136;
    letter-spacing: -3px;
    font-kerning: normal;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    color: #3e5974;
    margin-bottom: 10px;
    line-height: 1.5;
}

h3 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 35px;
}

h4 {
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 45px;
    margin-bottom: 40px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
    color: #F58728;
    margin-bottom: 0;
    line-height: 1.5;
}

a {
    outline: none;
    /* removing outline in Mozilla */
    
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration: none;
    color: #FFC05A;
}

a:hover {
    color: #FFC05A;
}

p {
    margin-bottom: 20px;
    clear: both;
}

img {
    vertical-align: top;
}

table {
    width: 100%;
}

strong {
    font-weight: bold;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

::-moz-selection {
    background: black;
    color: white;
    text-shadow: none;
}

::selection {
    background: black;
    color: white;
    text-shadow: none;
}

.hide {
    display: none !important;
}
/* --------------------------------------------------------------------------------------
+
+ LAYOUT
+
-------------------------------------------------------------------------------------- */

.container {
    margin: 0 auto;
    width: 320px;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.left {
    float: left;
}

.right {
    float: right;
}
/* --------------------------------------------------------------------------------------
+
+ BUTTONS
+
-------------------------------------------------------------------------------------- */

.btn {
    height: 38px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    color: white;
    background: #ffc65a;
    border: 2px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: "PTsans", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.btn:hover {
    background: #ffb529;
    color: white;
}

.btn.lightgreen {
    background-color: #1ed2d0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.btn.lightgreen:hover {
    background-color: #21c4c4;
}
/* --------------------------------------------------------------------------------------
+
+ FORMS
+
-------------------------------------------------------------------------------------- */
/* MAIN PART */

input[type="text"],
input[type="email"],
textarea {
    vertical-align: middle;
    border: 2px solid #d4d8de;
    color: #67727e;
    background-color: white;
    padding: 0 10px 0 65px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-family: "PTsans", sans-serif;
    display: block;
    font-size: 16px;
    margin-bottom: 30px;
    width: 100%;
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
textarea:hover,
textarea:focus {
    background-color: #fff;
    border: 2px solid #1ed2d0;
}

input[type="text"].error,
input[type="email"].error,
textarea.error {
    background: url('../images/form/error.png') no-repeat 0 0;
    border: 2px solid #ff605a;
    color: #ff605a;
}

input[type="text"].error:hover,
input[type="email"].error:hover,
textarea.error:hover {
    background-position: 0 0;
}

input[type="text"],
input[type="email"] {
    height: 48px;
    line-height: 48px;
}

.ie8 input[type="text"],
.ie8 input[type="email"] {
    line-height: 43px;
}

textarea {
    resize: none;
    padding-top: 12px;
    min-height: 203px;
}

textarea.form-message {
    width: 100%;
}

label.error {
    color: #ff605a;
    position: absolute;
    left: 50px;
    margin-top: -32px;
}
/* --------------------------------------------------------------------------------------
+
+ HEADER
+
-------------------------------------------------------------------------------------- */

header {
    height: 56px;
    position: fixed;
    background: #3e4d5c url('../images/noise.png') no-repeat 50% 50%;
    width: 100%;
    z-index: 2000;
    -webkit-box-shadow: 0 1px 1px rgba(1, 1, 1, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(1, 1, 1, 0.2);
    box-shadow: 0 1px 1px rgba(1, 1, 1, 0.2);
}

header .container {
    position: relative;
    height: 56px;
}

header .logo {
    top: 19px;
    position: relative;
    float: left;
}

header .logo img {
    width: 74px;
}

header nav {
    position: absolute;
    background: url('../images/menu_drop.png') no-repeat 50% 50%;
    right: 0;
    top: 0;
    height: 56px;
    width: 64px;
    display: block;
    cursor: pointer;
}

header nav ul {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: ;
}

header nav ul li {
    width: 100%;
    height: 52p;
    line-height: 52px;
    border-top: 1px solid #8494A7;
}

.ie7 header nav ul li {
    float: left;
}

header nav ul li:first-child {
    border-top: transparent;
}

.ie7 header nav ul li:first-child,
.ie8 header nav ul li:first-child {
    border-top: 1px solid #c1c5c9;
}

header nav ul li:first-child a {
    -webkit-box-shadow: inset 0 1px 1px rgba(1, 1, 1, 0.2);
    -moz-box-shadow: inset 0 1px 1px rgba(1, 1, 1, 0.2);
    box-shadow: inset 0 1px 1px rgba(1, 1, 1, 0.2);
}

header nav ul li a {
    background-color: #3e4d5c;
    color: white;
    text-align: center;
    display: block;
}

header nav ul li a:hover {
    color: #FFC05A;
}
/* --------------------------------------------------------------------------------------
+
+ FOOTER
+
-------------------------------------------------------------------------------------- */

footer {
    background-color: #3e4d5c;
    padding: 40px 0;
    text-align: center;
    position: relative;
}

footer .container {
    overflow: hidden;
}

footer .container > a {
    display: inline-block;
    margin-bottom: 15px;
}

footer .container > a:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}

footer .container img:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}

footer .left,
footer .right {
    float: none;
}

footer small {
    display: block;
    clear: both;
    font-size: 14px;
    color: #8494a7;
    margin-bottom: 30px;
    margin-top: 10px;
}

footer small a {
    color: #8494a7;
}

footer small a:hover {
    color: #506477;
}

footer small i {
    display: block;
    font-style: normal;
}

footer ul {
    text-align: center;
}

footer li {
    display: inline-block;
    margin-left: 10px;
}

footer li:first-child {
    margin-left: 0;
}

footer li a {
    width: 48px;
    height: 48px;
    display: block;
    border: 2px solid #8494a7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

footer li a:hover {
    border: 2px solid #FFC05A;
    background-color: #FFC05A;
}
/* --------------------------------------------------------------------------------------
+
+ CONTENT
+
-------------------------------------------------------------------------------------- */

#im {
    position: relative;
    background: transparent;
    align-self: center;
    width: 80%;
}

.content {
    width: 100%;
    position: relative;
    top: auto !important;
    padding-top: 56px;
}

.content .subheader {
    width: 100%;
    height: auto;
    display: block;
    padding: 50px 0 0;
    background: url(../images/landing.jpg) no-repeat 50% 0%;
    position: relative;
    background-attachment: fixed;
    text-align: center;
    border-bottom: 7px solid #ffc05a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(../js/backgroundsize.htc);
}

.content .midpage {
    width: 100%;
    height: 50%;
    display: block;
    background: url(images/header.png) no-repeat 50% 0%;
    position: relative;
    background-attachment: fixed;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(../js/backgroundsize.htc);
}

.content .subheader h1 {
    padding: 0 20px 0;
}

.content .subheader span {
    background: url('../images/line.png') no-repeat 100% 50%;
    display: inline-block;
    margin: 0 auto 40px;
}

.content .subheader span h4 {
    background: url('../images/line.png') no-repeat 0 50%;
    display: inline-block;
    margin: 0;
}

.content .subheader .bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100px;
    background-color: white;
    width: 100%;
    line-height: 100px;
}

.content .subheader .bottom .business {
    width: 50%;
    float: left;
}

.content .subheader .bottom .business:hover {
    background-color: rgb(229, 229, 229);
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    cursor: pointer;
}

.content .subheader .bottom .business a {
    font-weight: bold;
    display: block;
}

.showhide {
    display: none;
}

section {
    padding: 40px 0;
    text-align: center;
}

#teknik li {
    padding-top: 40px;
    border-top: 2px solid #e3e7ec;
}

#teknik li *:last-child {
    margin-bottom: 0;
}

#teknik li:first-child {
    padding-top: 0;
    border-top: 0;
}

#teknik li span {
    width: 96px;
    height: 96px;
    display: block;
    margin: 0 auto 35px;
}

#teknik li + li {
    margin-top: 40px;
}

#market {
    background-color: #e8eef1;
}

#market .filter_wrap {
    height: 42px;
    line-height: 42px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background-color: #fff;
    display: inline-block;
    cursor: pointer;
    padding: 0 20px;
    min-width: 70%;
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

#market .filter_wrap span {
    display: block;
}

#market .filter_wrap span b {
    width: 100%;
    margin-left: 20px;
    top: 18px;
    position: absolute;
    right: 25px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 7px 4.5px 0 4.5px;
    border-color: #67727e transparent transparent transparent;
}

#market .filter_wrap ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    z-index: 100000;
}

#market .filter_wrap ul a {
    display: block;
    color: #67727e;
}

#market .filter_wrap ul a:hover {
    background-color: #E8EEF1;
}

#market .filter_wrap:hover {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#market #filter_content {
    margin: auto;
}

#market #filter_content a {
    width: 280px;
    height: 280px;
    overflow: hidden;
    display: block;
    margin-bottom: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#market #filter_content a img {
    width: 100%;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

#market #filter_content a:before,
#market #filter_content a:after {
    content: '';
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#market #filter_content a:before {
    background-color: #000;
    z-index: 5;
}

.ie8 #market #filter_content a:before {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=10);
    opacity: 0.1;
    display: none;
}

#market #filter_content a:after {
    background: url('../images/eye.png') no-repeat 50% 50%;
    z-index: 10;
}

.ie8 #market #filter_content a:after {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

#market #filter_content a:hover img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

#market #filter_content a:hover:before {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=10);
    opacity: 0.1;
    visibility: visible;
}

#market #filter_content a:hover:after {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    visibility: visible;
}

#mittbild {
    background: url('../images/landing.jpg') no-repeat 50% 50%;
    text-align: center;
    height: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(../js/backgroundsize.htc);
}

#clients {
    background: #3e4d5c url('../images/noise.png') no-repeat 50% 50%;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(../js/backgroundsize.htc);
}

#clients * {
    color: #fff;
}

#clients .bx-wrapper {
    margin: 70px auto 0;
    position: relative;
}

#clients .bx-wrapper .bx-pager {
    display: none;
}

#clients .bx-wrapper .bx-controls-direction {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 26px;
    width: 100%;
}

#clients .bx-wrapper .bx-controls-direction a {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
    width: 14px;
    height: 26px;
    display: block;
    position: absolute;
    top: 5px;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}

#clients .bx-wrapper .bx-controls-direction a:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

#clients .bx-wrapper .bx-controls-direction a.bx-prev {
    position: absolute;
    left: -65px;
    background: url('../images/arrowleft.png') no-repeat 0 0;
}

#clients .bx-wrapper .bx-controls-direction a.bx-next {
    position: absolute;
    right: -64px;
    background: url('../images/arrowright.png') no-repeat 0 0;
}

#clients .slider1 {
    font-size: 0;
}

#clients .slider1 .slide {
    width: 200px;
    height: 50px;
    display: block;
}

#clients .slider1 .slide:last-child {
    border-right: none;
}

#clients .slider1 a {
    height: auto;
    text-align: center;
    overflow: hidden;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}

#clients .slider1 a:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

#clients .slider1 a img {
    max-width: 85%;
    max-height: 100%;
}

#team {
    background: #fff no-repeat 50% 50%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    text-align: center;
    -ms-behavior: url(../js/backgroundsize.htc);
    position: relative;
    z-index: 1000;
}

#team * {
    color: #3e4d5c;
}

#team .bx-wrapper {
    margin: 70px auto 0;
    position: relative;
}

#team .bx-wrapper .bx-pager {
    display: none;
}

#team .bx-viewport {
    overflow: visible;
}

#team .slide {
    text-align: center;
    margin-top: 30px;
    position: relative;
}

#team .slide:first-child {
    margin-top: 0;
}

#team .slide > a {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 11px solid #fff;
    width: 204px;
    height: 204px;
    background-color: #fff;
    box-sizing: padding-box;
    display: block;
    overflow: hidden;
    position: relative;
    display: block;
    margin: 0 auto 15px;
}

#team .slide > a img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    width: 204px;
}

#team .slide h5,
#team .slide p {
    margin-bottom: 0;
}

#team .bx-controls-direction {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 26px;
    width: 100%;
}

#team .bx-controls-direction a {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
    width: 14px;
    height: 26px;
    display: block;
    position: absolute;
    top: 100px;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}

#team .bx-controls-direction a:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

#team .bx-controls-direction a.bx-prev {
    position: absolute;
    left: -65px;
    background: url('../images/arrowleft.png') no-repeat 0 0;
}

#team .bx-controls-direction a.bx-next {
    position: absolute;
    right: -64px;
    background: url('../images/arrowright.png') no-repeat 0 0;
}

#contact {
    padding-bottom: 0;
}

#contact .container {
    position: relative;
    z-index: 10;
}

#contact form {
    overflow: hidden;
    text-align: center;
}

#contact form .left {
    width: 100%;
    position: relative;
}

#contact form .btn {
    border: none;
}

#contact #map {
    width: 100%;
    height: 426px;
    display: block;
    margin-top: 40px;
}

#contact .contact_info {
    width: 280px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(1, 1, 1, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(1, 1, 1, 0.2);
    box-shadow: 0 1px 1px rgba(1, 1, 1, 0.2);
    position: absolute;
    top: 0;
    display: block;
    z-index: 100;
    left: 50%;
    top: -220px;
    padding: 30px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: -140px;
}

#contact .contact_info dt {
    margin-top: 15px;
}

#contact .contact_info dt:first-child {
    margin-top: 0;
}

#contact .contact_info dd a {
    color: #67727e;
}

#contact #order_now {
    background-color: #2e2e2e;
    padding: 90px 0 40px;
    display: block;
}

#to_the_top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: url('../images/top.png') no-repeat 0 0;
    z-index: 1000000;
}

#to_the_top:hover {
    background-position: 0 -60px;
}

#scroll {
    margin-right: auto;
    margin-left: auto;
    bottom: 15px;
    width: 60px;
    height: 60px;
    background: url('../images/scroll.png') no-repeat 0 0;
    z-index: 1000000;
}

#scroll:hover {
    background-position: 0 -60px;
}
/* --------------------------------------------------------------------------------------
+
+ Queries
+
-------------------------------------------------------------------------------------- */

@media (max-width: 540px) {
    #clients .slider1 {
        margin: 0 auto;
        display: block;
        overflow: hidden;
    }
    #clients .slider1 .slide {
        display: inline-block;
        width: 40%;
        height: 60px;
        line-height: 60px;
        border-top: 2px solid rgba(255, 255, 255, 0.1);
    }
    #clients .slider1 .slide:nth-child(2n+1) {
        border-right: 2px solid rgba(255, 255, 255, 0.1);
    }
    #clients .slider1 .slide:first-child,
    #clients .slider1 .slide:first-child + div {
        border-top: none;
    }
    #clients .slider1 .slide a {
        width: 75%;
        height: 60px;
        margin: 0 auto;
        display: table;
        border-collapse: collapse;
    }
    #clients .slider1 .slide a img {
        display: table-cell;
        max-width: 100px;
        vertical-align: middle;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}